$color-primary: rgba(58, 0, 136, 0.8);
$color-primary-light: rgba(147, 0, 119, 0.8);
$color-primary-dark: rgba(58, 0, 136, 0.8);
$color-primary-light-background: rgb(169, 91, 155);
$color-primary-dark-background: rgb(110, 82, 145);

$color-primary-light-lighter: rgba(147, 0, 119, 0.3);
$color-primary-dark-lighter: rgba(58, 0, 136, 0.3);


$color-secondary-light: rgba(230, 28, 93, 0.8);
$color-secondary-lighter: rgba(255, 233, 138, 0.8);

$color-secondary-light-lighter: rgba(230, 28, 93, 0.3);
$color-secondary-lighter-lighter: rgba(255, 233, 138, 0.3);

$color-tertiary-light: rgba(1, 1, 1, 0.8); 
$color-tertiary-lighter: rgba(105, 119, 155, 0.8);

$color-tertiary-light-lighter: rgba(1, 1, 1, 0.3); 
$color-tertiary-lighter-lighter: rgba(105, 119, 155, 0.3);

$color-grey-dark: #777;
$color-grey-dark_darker: #333;
$color-gray-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$row-height: 4rem;

//SKEW
$skew: 12deg;