.story {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .9);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 8rem;
    text-align: left;
    transform: skewX(-$skew);
    position: relative;

    &:not(:last-child){
        margin-bottom: 6rem;
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX($skew);
        margin-top: -3rem;
    }

    &__img {
        height: 100%;
        transform: scale(1.2);
        transition: all .2s;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX($skew);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        text-transform: uppercase;
        transform: translate(-50%, -10%);
        color: $color-white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;  
        transition: all .3s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }
}