$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-primary-light: rgba(147, 0, 119, 0.8);
$color-primary-dark: rgba(58, 0, 136, 0.8);

$color-secondary-light: rgba(230, 28, 93, 0.8);
$color-secondary-lighter: rgba(255, 233, 138, 0.8);

$color-tertiary-light: rgba(180, 223, 226, 0.8);
$color-tertiary-lighter: rgba(48, 146, 134, 0.8);

$default-font-size: 1.6rem;

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;

    &--main{
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3rem;
        line-height: 7.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        line-height: 4rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        backface-visibility: hidden;
    }
}

.heading-secondary {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    
    &:hover {
        transform: skewY(-5deg) skewX(4deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .3);
    }
}

.heading-tertiary {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: $default-font-size;
    text-transform: uppercase;
    line-height: 1.7;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.btn-text {
    &,
    &:link,
    &:visited {
        border: none;
        font-size: $default-font-size;
        color: $color-primary-light;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary-light;
        padding: 1rem 3rem 1rem;
        transition: all .2s;
        background-color: transparent;
    }

    &:hover {
        background-color: $color-primary-light;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .2);
        transform: translateY(2px);
    }
}